node_modules
.DS_Store
*.log
dist
.vitepress/cache
.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/dist
.cache
.temp
.idea
.vscode/*
!.vscode/extensions.json
*.local
quiz/dist
quiz/node_modules
quiz/public/data
